
body {
    /* background-color: #DCDCDC; */
}


.large-text-centered {
    padding: 2vh; 
    margin: 1vh;

    padding: flex;
    align-items: center;
    justify-content: center;
}


.large-header {
    /* color: #1B1212; */

    font-size: 8vh;
    text-align: center;

    margin-bottom: 1vh;
}

.medium-p {
    /* color: #18191A; */
    text-align: center;
}


.detail-p {
    /* color: #18191A; */
}

hr { 
    width: 50vw;
}

#mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details-element {

}

.details-link {
    text-decoration: none;
    color: #f0f8ff;

}

.details-link:hover, .details-link:focus{
    color: #00ABF0;
}

