
#mainContent {

}

.large-text-centered {
    padding: 2vh; 
    margin: 1vh;

    padding: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.centered-div {
    display: flex;
    justify-content: center;
}

form {
    margin-right: auto;
    margin-left: auto;
}

.submit-btn {
  display: flex;
  margin: 2vh;
  border-radius: 6px;
}

.btn-holder {
  display: flex;
  justify-content: center;
}

input[type='number']{
    width: 100%;
} 
