
.mainContent {

}

.centered-div {
    display: flex;
    justify-content: center;
}

form {
    margin-right: auto;
    margin-left: auto;
}

.submit-btn {
  display: flec;
  margin: 2vh;
  border-radius: 6px;
}

.btn-holder {
  display: flex;
  justify-content: center;
}

input[type='number']{
    width: 100%;
} 

#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:focus {
    height: auto;
    position: static;
    width: auto;
}
