#mainContent {

}
.Message{

}

.messages {
    margin: 2vh;
    height: 82vh;
}


.message-blob {
  border-radius: 9px;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
  background-color: #6441A5;
  width: 100%;
}

h2 {
    margin-bottom: -1rem; /* remove bottom margin of username */
}


/* message is the generated html element from the text */
.message {
    padding: 1vh;
}

.message-blob .display-name {
  font-weight: bold;
}

.centered-info {
    text-align: center;
}

