
.Message{
  border-radius: 8px;
  padding: 10px;

}


.messages {
    margin: 2vh;
    height: 92vh;
}


/*fix the center*/
.message-blob {
  border-radius: 8px;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
  background-color: #99ff99;
}

h2 {
    margin-bottom: -1rem; /* remove bottom margin of username */
}


/* message is the generated html element from the text */
.message {
    padding: 0.5rem;
}

.message-blob .display-name {
  font-weight: bold;
}

.centered-info {
    text-align: center;
}
