.App {
  /* text-align: center; */
    color: white;

}


.skip-to-content {
  color: #FFFF;
}

#container {
  max-width: 760px;
  margin: auto;
}



#navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;

    background-color: #181818;
}

#navbar-links ul {
    display: flex;
    margin: 0;
    padding: 1rem;
}

#navbar-links li {
    list-style: none;
}

#navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

#navbar-links li:hover {
  background-color: #555;
}

input[type=submit]:hover {
  background-color: #45a049;
  
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



.center-btn {
  padding: 3px;
  margin: 4px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

hr {
    margin-bottom: 1rem;
}

#skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:focus {
    height: auto;
    position: static;
    width: auto;
}

